<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello Bulma!</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
		<h1 class="title">
			Liquidity providers distribution
		</h1>
		<div class="columns">
			<div class="column">
				<button class="button is-large is-fullwidth is-primary">Next distribution</button>
				<button class="button is-large is-fullwidth">Distribution 2</button>

				<button class="button is-large is-fullwidth">Distribution 1</button>
				<button class="button is-large is-fullwidth">Distribution 0</button>

			</div>
			<div class="column is-four-fifths">

	<table class="table">
		<section class="section">

			<% if(!id){%>
			Next distribution planned on: <%= distributionsRows[0].datetime %>
			<%}%>
		</section>
		<thead>
		  <tr>
			<th>Address</th>
			<th>Reward</th>
			<th>Share</th>
			<th>Asset</th>
			<th>Value</th>
			<th>Weighted value</th>
			<th>Reward</th>
		  </tr>
		</thead>
		<tbody>
			<% for(var k in rewardsRows) {
				const details = rewardsRows[k].reward_details.split(',');
				 for(var j in details) {
					const details_columns = details[j].split("@");
			%>
			<tr>
				<% if (j==0){%>
				<td rowspan="<%=details.length%>"><%=rewardsRows[k].payout_address%></td>
				<td rowspan="<%=details.length%>"><%=formatters.baseAmount(rewardsRows[k].reward_amount)%></td>
				<td rowspan="<%=details.length%>"><%=formatters.share(rewardsRows[k].distribution_share)%></td>
				<% } %>
				<td><%=formatters.assetAmount(details_columns[0], details_columns[1])%></td>
				<td><%=formatters.gbAmount(details_columns[2])%></td>
				<td><%=formatters.gbAmount(details_columns[3])%></td>
				<td><%=formatters.baseAmount(details_columns[4])%></td>


			</tr>
				<% }
				}
			 %>
	</tbody>
	</table>
</div>
</div>

</section>
</body>
</html>