<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%
			const weekly_yield = conf.distribution_amount / 1e9 / distributionsRows[distributionsRows.length -1].assets_total_value;
			const apy = (1 + weekly_yield) ** (365.25 / (conf.hoursBetweenDistributions / 24)) - 1;
			const apy_percent = formatters.share(apy);
		%>
		<title>Distribution to liquidity providers, <%= apy_percent %> APY</title>
		<meta name="description" content="Liquidity mining with Obyte: get rewarded for providing liquidity, <%= apy_percent %> APY. The first DeFi on a DAG." />
		<meta property="og:description" content="Liquidity mining with Obyte: get rewarded for providing liquidity, <%= apy_percent %> APY. The first DeFi on a DAG." />
		<meta property="og:title" content="Distribution to liquidity providers, <%= apy_percent %> APY.">
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://liquidity.obyte.org/logo-big.png">
		<link rel="apple-touch-icon" href="/logo.png" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="manifest" href="/manifest.json" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
		<style>
		.address {
			font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
		}
		</style>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-TQQ07HWX5T"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-TQQ07HWX5T');
		</script>
		
	</head>
	<body>
		<section class="section">
			<div class="columns">
				<div class="column  is-8">
					<h2 class="title is-2">
						Distribution to liquidity providers
					</h2>
				</div>
				<div class="column pb-1">
					<form action="/" method="get">
						<div class="field has-addons">
							<div class="control">
								<input class="input" type="text" placeholder="FPBD2TUVZTTVQECVPHT7VZDBKLZNFCNT" id="address" name="address">
								<% if (bInvalidAddress) {%>
									<p class="help is-danger">Invalid address</p>
								<%}%>
							</div>
							<div class="control">
									<button type="submit" class="button is-primary">address lookup</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
			<div class="content">
				<p>Every <%= conf.hoursBetweenDistributions / 24 %> days, <%= formatters.baseAmount(conf.distribution_amount, 0) %> is distributed to liquidity providers on <%- formatters.url(conf.oswap_main_url) %>.</p>
				<p>To participate:</p>
				<ol>
					<li>issue stable and interest (stable+) tokens on the Bonded Stablecoins website <a href="https://ostable.org<%= ref ? '/?r='+ref : '' %>" target="_blank" rel="noopener">ostable.org</a>;</li>
					<li>use these tokens to provide liquidity on <%- formatters.url(conf.oswap_main_url) %> and get liquidity provider tokens in exchange (use direct links to the eligible liquidity pools below);</li>
					<li>send the tokens of the eligible liquidity pools to this Autonomous Agent: <%-formatters.explorer(conf.assets_locker_aa) %> 
					(<a href="<%=conf.wallet_uri +':'+conf.assets_locker_aa%>?single_address=1">send tokens</a>) that will lock the tokens for <%=conf.lock_period_in_days%> days.</li>
				</ol>
				<p>The <%= formatters.baseAmount(conf.distribution_amount, 0) %> is distributed among the liquidity providers in proportion to the value locked adjusted by the weights indicated below.</p>
			</div>

			<h5 class="title is-5">
				Eligible pools (weight):
			</h5>

			<div class="tags are-medium">
			<% for (var address in eligiblePoolsByAddress) { %>
				<span class="tag is-link is-light">
					<a href="<%= conf.oswap_base_url + address %>" target="_blank">
					<%= eligiblePoolsByAddress[address].asset0_info.symbol + "-" + eligiblePoolsByAddress[address].asset1_info.symbol %>
						(<%= eligiblePoolsByAddress[address].coeff*100 %>%)
					</a>
				</span>

				<% } %>
			</div>

		</section>
		<section class="section">

			<div class="columns is-mobile">
				<div class="column is-2">
					<% for(var k = distributionsRows.length - 1; k >=0; k--) { 
						if (distributionsRows[k].id == distributionsRows.length) {
						%>
						<a href="/<%= ref ? '?r='+ref : '' %>"><button class="button mb-1 is-hidden-touch is-medium is-fullwidth <%= distributionsRows[k].id == selected_id ? 'is-primary' : '' %>" >Next distribution</button></a>
						<a href="/<%= ref ? '?r='+ref : '' %>"><button class="button mb-1 is-hidden-desktop is-small is-fullwidth <%= distributionsRows[k].id == selected_id ? 'is-primary' : '' %>" >Next</button></a>

						<% } else { %>
						<a href="<%=distributionsRows[k].id + (ref ? '?r='+ref : '')%>"><button class="button mb-1 is-hidden-touch is-medium is-fullwidth <%= distributionsRows[k].id == selected_id ? 'is-primary' : ''%>">Distribution #<%= distributionsRows[k].id %></button></a>
						<a href="<%=distributionsRows[k].id + (ref ? '?r='+ref : '')%>"><button class="button mb-1 is-hidden-desktop is-small is-fullwidth <%= distributionsRows[k].id == selected_id ? 'is-primary' : ''%>">#<%= distributionsRows[k].id %></button></a>

					<% }
						} %>
				</div>
				<div class="box column is-10">
					<div class="content">
						<h5 class="title is-5">
							<% if(selected_id == distributionsRows.length){%>

								<h5 class="title is-5">	Expected amounts in the next distribution</h5>
							<%} else {%>
								<h5 class="title is-5">	Distribution #<%= distributionsRows[selected_id -1].id%></h5>
							<%}%>

						</h5>
						<ul>
							<li>
							<% if(selected_id == distributionsRows.length){%>
							Planned on <%= distributionsRows[selected_id - 1].datetime %>  (GMT)
							<%} else {%>
							Planned on <%= distributionsRows[selected_id -1].datetime %> (GMT), realized on <%= distributionsRows[selected_id -1].snapshot_time %> (GMT)
							<%}%>
							</li>
							<li>Total locked value of pool assets: <%= formatters.gbAmount(distributionsRows[selected_id -1].assets_total_value) %></li>
							<li>Total weighted locked value of pool assets: <%= formatters.gbAmount(distributionsRows[selected_id -1].assets_total_weighted_value) %></li>
							<% const yield = distributionsRows[selected_id -1].assets_total_value ? conf.distribution_amount / 1e9 / distributionsRows[selected_id -1].assets_total_value : 0; %>
							<li>Yield: <%= formatters.share((1 + yield) ** (365.25 / (conf.hoursBetweenDistributions / 24)) - 1) + ' yearly (compounded), '+ formatters.share(yield) +' weekly' %></li>
						</ul>
						<div class="table-container">
							<table class="table">
								<thead>
									<tr>
										<th>Address</th>
										<th>Reward Total</th>
										<th>Share</th>
										<th>Asset</th>
										<th>Value</th>
										<th>Weighted value</th>
										<th>Reward</th>
									</tr>
								</thead>
								<tbody>
									<% for(var k in rewardsRows) {
										const details = rewardsRows[k].reward_details.split(',');
										for(var j in details) {
											const details_columns = details[j].split("@");
									%>
										<tr>
											<% if (j==0){%>
												<td style="vertical-align: middle;" rowspan="<%=details.length%>"><%-formatters.address(rewardsRows[k].payout_address)%></td>
												<td style="vertical-align: middle;" rowspan="<%=details.length%>"><%- rewardsRows[k].payment_unit ? formatters.explorer(rewardsRows[k].payment_unit, formatters.baseAmount(rewardsRows[k].reward_amount)) : formatters.baseAmount(rewardsRows[k].reward_amount) %></td>
												<td style="vertical-align: middle;" rowspan="<%=details.length%>" title="<%=formatters.gbAmount(distributionsRows[selected_id -1].assets_total_value * rewardsRows[k].distribution_share)%>"><%=formatters.share(rewardsRows[k].distribution_share)%></td>
											<% } %>
											<td><%=formatters.assetAmount(details_columns[0], details_columns[1])%></td>
											<td><%=formatters.gbAmount(details_columns[2])%></td>
											<td><%=formatters.gbAmount(details_columns[3])%></td>
											<td><%=formatters.baseAmount(details_columns[4])%></td>
										</tr>
										<% }
									}%>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</section>
	</body>
</html>